@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Manuale|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Manuale', serif;
font-family: 'Lobster', cursive;
*/

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
